body{
  background-color: #33C4FF;

}

hr{
  border-style: none;
  border-color: grey;
  border-width: 5px;
  width:5%;
  background-color: #FB2576;


}

h1{

  background-color: red;
}

h2{

  color: red;
}
